
.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	vertical-align: 10px;
}



.square {
	width: 33.33%;
	height: 250px;
	border-color: 105px black;
	margin-top: 100px;
	margin-left: 102px;
	padding-left: 230px;
	flex: 36.33%;
	padding: 25px;
	
}

img {
	border: 10px solid #ddd;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	width: 450px;
	height: 350px;
}